<div [ngSwitch]="likedAudioDisplayed">
    <h2 *ngSwitchCase="true">
        <span id="likedFiles-page-heading">Liked audio files</span>
        <button class="btn btn-primary float-right" (click)="loadUserFiles()">
            <fa-icon [icon]="'music'"></fa-icon> <span>Show my audio files</span>
        </button>
    </h2>
    <h2 *ngSwitchCase="false">
        <span id="myFiles-page-heading">My audio files</span>
        <button class="btn btn-primary float-right" (click)="loadLikedFiles()">
            <fa-icon [icon]="'music'"></fa-icon> <span>Show liked audio files</span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'soundgramApp.audioFile.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="audioFiles?.length === 0">
        <span jhiTranslate="soundgramApp.audioFile.home.notFound">No audioFiles found</span>
    </div>
    <div class="table-responsive" *ngIf="audioFiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                <th scope="col" ><span jhiTranslate="soundgramApp.audioFile.audioPath">Audio Path</span></th>
                <th scope="col" ><span jhiTranslate="soundgramApp.audioFile.title">Title</span></th>
                <th scope="col" ><span jhiTranslate="soundgramApp.audioFile.iconPath">Icon Path</span></th>
                <th scope="col" ><span jhiTranslate="soundgramApp.audioFile.post">Post</span></th>
                <th scope="col" ><span jhiTranslate="soundgramApp.audioFile.user">User</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let audioFile of audioFiles ;trackBy: trackId">
                <td><a [routerLink]="['/audio-file', audioFile.id, 'view' ]">{{audioFile.id}}</a></td>
                <td>{{audioFile.audioPath}}</td>
                <td>{{audioFile.title}}</td>
                <td>{{audioFile.iconPath}}</td>
                <td>
                    <div *ngIf="audioFile.post">
                        <a [routerLink]="['/post', audioFile.post?.id, 'view' ]" >{{audioFile.post?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let user of audioFile.users; let last = last">
                        <a [routerLink]="['/', user.login, 'view']">{{user.login}}{{last ? '' : ', '}}</a>
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/audio-file', audioFile.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="button" (click)="playThisAudio(audioFile)"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'play'"></fa-icon>
                            <span class="d-none d-md-inline">Play</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="media-footer">
    <div *ngIf="audioFiles" class="container">
        <div class="row slidecontainer">
            {{ state?.readableCurrentTime }}
            <input type="range" class="slider" id="myRange" [max]="state?.duration" step="1" [value]="state?.currentTime" (click)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile === undefined">
            {{ state?.readableDuration }}
        </div>
        <div class="row center">
            <button type="button" class="btn btn-info center" [disabled]="isFirstPlaying()" (click)="previous()">
                <fa-icon [icon]="'step-backward'"></fa-icon>
            </button>

            <button type="button" class="btn btn-info center" (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
                <fa-icon [icon]="'play'"></fa-icon>
            </button>

            <button type="button" class="btn btn-info center" (click)="pause()" *ngIf="state?.playing">
                <fa-icon [icon]="'pause'"></fa-icon>
            </button>

            <button type="button" class="btn btn-info center" [disabled]="isLastPlaying()" (click)="next()">
                <fa-icon [icon]="'step-forward'"></fa-icon>
            </button>
        </div>

<!--        <mat-toolbar-row>
            {{ state?.readableCurrentTime }}
            <mat-slider class="time-slider" min="0" [max]="state?.duration" step="1" [value]="state?.currentTime" (input)="onSliderChangeEnd($event)" [disabled]="state?.error || currentFile.index === undefined"></mat-slider>
            {{ state?.readableDuration }}
        </mat-toolbar-row>

        <mat-toolbar-row class="media-action-bar">
            <button mat-button [disabled]="isFirstPlaying()" (click)="previous()">
                <mat-icon mat-list-icon>skip_previous</mat-icon>
            </button>

            <button mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing">
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
            </button>

            <button mat-button (click)="pause()" *ngIf="state?.playing">
                <mat-icon mat-list-icon>pause</mat-icon>
            </button>

            <button  mat-button [disabled]="isLastPlaying()" (click)="next()">
                <mat-icon mat-list-icon>skip_next</mat-icon>
            </button>
        </mat-toolbar-row>-->
    </div>
</div>

