<div class="content" [ngSwitch]="likedAudioDisplayed">
    <div class="row">
        <h2 class="col-md-7 center" *ngSwitchCase="true">
            <fa-icon [icon]="'star'"></fa-icon>
            <span id="likedFiles-page-heading" jhiTranslate="music.likedAudios">Liked audio files</span>
            <button class="btn btn-primary" (click)="loadUserFiles()">
                <fa-icon [icon]="'user'"></fa-icon>
                <span jhiTranslate="music.showMyAudios">Show my audio files</span>
            </button>
            <button type="button" class="btn btn-info float-right" (click)="previousState()">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>
        </h2>
        <h2 class="col-md-7 center" *ngSwitchCase="false">

            <div *ngIf="otherUserFiles">
                <span id="otherUserFiles-page-heading"
                     jhiTranslate="music.userFiles">{{whoseFiles}}</span><span> {{otherUser?.login}}</span>
                <button class="btn btn-primary" (click)="loadLikedFiles()">
                    <fa-icon [icon]="'star'"></fa-icon>
                    <span jhiTranslate="music.showLiked">Show liked audio files</span>
                </button>
                <button type="button" class="btn btn-info float-right" (click)="previousState()">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
            </div>

            <div *ngIf="!otherUserFiles">
                <fa-icon [icon]="'user'"></fa-icon>
                <span id="myFiles-page-heading"
                      jhiTranslate="music.myAudios">{{whoseFiles}}</span>

                <button class="btn btn-primary" (click)="loadLikedFiles()">
                    <fa-icon [icon]="'star'"></fa-icon>
                    <span jhiTranslate="music.showLiked">Show liked audio files</span>
                </button>
                <button type="button" class="btn btn-info float-right" (click)="previousState()">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
                </button>
            </div>
        </h2>
    </div>
<!--    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>-->
    <div class="row">
        <div class="col-sm-8 center">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'soundgramApp.audioFile.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="audioFiles?.length === 0">
        <span jhiTranslate="soundgramApp.audioFile.home.notFound">No audioFiles found</span>
    </div>
    <div class="table-responsive table-window" *ngIf="audioFiles?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
                <th scope="col"><span jhiTranslate="music.table.title">Title</span></th>
                <th class="narrow-hide" scope="col"><span jhiTranslate="music.table.owner">Owner</span></th>
                <th class="narrow-hide" scope="col"><span jhiTranslate="music.table.post">Post</span></th>
                <th class="narrow-hide" scope="col"><span jhiTranslate="music.table.likes">Likes</span></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let audioFile of audioFiles ;trackBy: trackId">
                <td>{{audioFile.title.split('.').slice(0, -1).join('.')}}</td>
                <td class="narrow-hide"><a
                    [routerLink]="['/', audioFile.post.user.login, 'view']">{{audioFile.post.user.login}}</a></td>
                <td class="narrow-hide">
                    <button type="submit"
                            [routerLink]="['/post', audioFile.post?.id, 'view' ]"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'eye'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="soundgramApp.post.viewPost">View post</span>
                    </button>
                </td>
                <td class="narrow-hide">
                    <span>{{audioFile.users.length}}
                        <fa-icon [icon]="'star'"></fa-icon></span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/audio-file', audioFile.id, 'view' ]"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="button" (click)="playThisAudio(audioFile)"
                                class="btn btn-secondary btn-sm">
                            <fa-icon [icon]="'play'"></fa-icon>
                            <span class="d-none d-md-inline">Play</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="media-footer player">
    <div *ngIf="audioFiles" class="container">
        <div class="row slidecontainer">
            <div class="col-md-12" style="text-align: center">
                <span>{{currentFile.title.split('.').slice(0, -1).join('.')}}</span>
            </div>
            <input #slide type="range" class="slider" min="0" [max]="state?.duration" step="0.1"
                   [value]="state.currentTime ? state.currentTime : 0" (change)="onSliderChangeEnd(slide)">
            <div class="col-md-6" style="text-align: left">
                {{ state?.readableCurrentTime }}
            </div>
            <div class="col-md-6" style="text-align: right">
                {{ state?.readableDuration }}
            </div>
        </div>
        <div class="row center">
            <button type="button" class="btn btn-primary center" [disabled]="isFirstPlaying()" (click)="previous()">
                <fa-icon [icon]="'step-backward'"></fa-icon>
            </button>

            <button type="button" class="btn btn-primary center" (click)="play()" [disabled]="state?.error"
                    *ngIf="!state?.playing">
                <fa-icon [icon]="'play'"></fa-icon>
            </button>

            <button type="button" class="btn btn-primary center" (click)="pause()" *ngIf="state?.playing">
                <fa-icon [icon]="'pause'"></fa-icon>
            </button>

            <button type="button" class="btn btn-primary center" [disabled]="isLastPlaying()" (click)="next()">
                <fa-icon [icon]="'step-forward'"></fa-icon>
            </button>
        </div>
    </div>
</div>

