.slidecontainer {
  width: 100%; /* Width of the outside container */
}

.music-section {
  margin-top: 15px;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #b697d0; // #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  // opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #522b72; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #522b72; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.table-window {
  border-radius: 10px;
  border: 2px solid #522b72;
  background-color: #ffffff;
  min-width: 250px;
  max-width: 900px;
  // max-height: 500px;
  // min-width: 200px;
  color: #000000;
  margin: auto;
}

.ui-w-60 {
  width: 60px !important;
  height: auto;
}

.content {
  padding: 5pt;
  // border: 1px dashed rgb(200, 0, 0);
}

.player {
  padding: 5pt;
  background-color: #ffffff;
  position: sticky;
  bottom: 0;
}

@media only screen and (max-width: 570px) {
  .narrow-hide {
    display: none;
  }
}
