<div class="row" *ngIf="showCommentWindow">
    <div class="card comment-card my-4">
        <!--<h6 class="card-header">Leave a Comment:</h6>-->
        <div class="card-body">
            <form name="commentForm" role="form" novalidate (ngSubmit)="addComment()" [formGroup]="commentForm">
                <div class="form-group">
<!--                    <textarea [(ngModel)]="commentContent" name="txtarea"
                              class="form-control" rows="3" maxLength="2048" #ccontent="ngModel"
                              placeholder="{{'global.form.comment.placeholder' | translate}}"></textarea>-->
                    <textarea class="form-control" name="commentContent" id="field_commentContent"
                              formControlName="commentContent" rows="3"
                              placeholder="{{'global.form.comment.placeholder' | translate}}"></textarea>
                    <div *ngIf="commentForm.get('commentContent').invalid">
                        <small class="form-text text-danger size130 text-center"
                               *ngIf="commentForm.get('commentContent').errors.maxlength">
                            Zbyt długa treść komentarza! Wpisz maksymalnie 2048 znaków.
                        </small>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="commentForm.invalid">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down" jhiTranslate="soundgramApp.comment.submit">Submit comment</span>
                </button>
            </form>
        </div>
    </div>
</div>
<br><br>
<div *ngIf="commentsAvatars?.length > 0">
    <!--<div infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">-->
    <div *ngFor="let commentAvatar of commentsAvatars">
        <div class="row">
            <div class="col-md-3">
                <img [src]="commentAvatar.avatar" alt="" *ngIf="commentAvatar.avatar"
                     class="d-block ui-w-60 rounded-circle">
                <a [routerLink]="['/', commentAvatar.comment.user.login, 'view']">{{commentAvatar.comment.user.login}}</a>
                <div class="text-muted small">{{commentAvatar.comment.date | date:'medium'}}</div>
            </div>
            <div class="col-md-6">
                <div *ngIf="!commentAvatar.editable">
                    <span>{{commentAvatar.comment.textContent}}</span>
                </div>
                <div *ngIf="commentAvatar.editable">
<!--                    <textarea [(ngModel)]="commentContent1" name="txtarea"-->
<!--                              class="form-control" rows="3"></textarea>-->
<!--                    <button class="btn btn-primary"-->
<!--                            (click)="saveComment(commentAvatar.comment); commentAvatar.editable = false">-->
<!--                        <fa-icon [icon]="'edit'"></fa-icon>-->
<!--                        <span class="hidden-sm-down">Submit comment</span>-->
<!--                    </button>-->
                    <form name="commentForm" role="form" (ngSubmit)="saveComment(commentAvatar.comment); commentAvatar.editable = false"
                          [formGroup]="commentForm" novalidate>
                        <div class="form-group">
                            <textarea class="form-control" name="commentContent" id="field_editCommentContent"
                                      formControlName="commentContent" rows="3"
                                      placeholder="{{'global.form.comment.placeholder' | translate}}"></textarea>
                            <div *ngIf="commentForm.get('commentContent').invalid">
                                <small class="form-text text-danger size130 text-center"
                                       *ngIf="commentForm.get('commentContent').errors.maxlength">
                                    Zbyt długa treść komentarza! Wpisz maksymalnie 2048 znaków.
                                </small>
                                <small class="form-text text-danger size130 text-center"
                                       *ngIf="commentForm.get('commentContent').errors.minlength">
                                    Zbyt krótka treść komentarza! Wpisz conajmniej 1 znak.
                                </small>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" [disabled]="commentForm.invalid">
                            <fa-icon [icon]="'edit'"></fa-icon>
                            <span class="hidden-sm-down" jhiTranslate="soundgramApp.comment.submit">Submit comment</span>
                        </button>
                    </form>
                </div>
            </div>
            <div *ngIf="currentUser" class="col-md-3">
                <div [hidden]="currentUser.login !== commentAvatar.comment.user.login">
                    <button type="submit"
                            (click)="commentAvatar.editable = true; onEdit(commentAvatar.comment)"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline"
                              jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit" (click)="deleteComment(commentAvatar.comment)"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline"
                              jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <!--    </div>-->
    <div class="row">
        <button class="btn btn-primary center" [hidden]="page >= links['last']" (click)="loadPage(page + 1)">
            <fa-icon [icon]="'arrow-down'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="soundgramApp.comment.showMore">More comments</span>
        </button>
    </div>
</div>
