<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">

            <div class="container posts-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card post-window mb-3">
                            <div class="card-body">
                                <div class="media mb-3">
                                    <img [src]="avatar" *ngIf="!isImageLoading && hasImage"
                                         class="d-block ui-w-60 rounded-circle" alt="">
                                    <div class="media-body ml-3">
                                        <a [routerLink]="['/', post.user.login, 'view']">{{post.user?.login}}</a>
                                        <div class="text-muted small">{{post.date | date:'medium'}}</div>
                                    </div>
                                    <div class="media-body ml-3 mt-3">
                                        <div *ngIf="audioFile && usersComments">
                                            <h6 class="d-inline-block text-muted">{{audioFile.users.length}}
                                                Likes<span>&nbsp;&nbsp;&nbsp;</span></h6>
                                            <h6 class="d-inline-block text-muted">{{usersComments.length}}
                                                Comments</h6>
                                        </div>
                                    </div>

                                </div>

                                <p class="card-text">
                                    {{post.postContent}}
                                </p>
                                <div class="row">
                                    <div *ngIf="postImage" class="col-md-6">
                                        <img [src]="postImage" class="ui-rect ui-bg-cover"
                                             alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="audioFile">
                                            <jhi-post-player [audioFile]="audioFile"></jhi-post-player>
                                        </div>
                                        <div>
                                            <span>Tags: </span><br>
                                            <span *ngFor="let tag of post.tags; let last = last">
                                    <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="center">
                                        <button class="btn btn-primary" (click)="postCommentsComponent.toggleComment()">
                                            <fa-icon [icon]="'pen'"></fa-icon>
                                            <span class="hidden-sm-down">Write a comment</span>
                                        </button>
                                    </div>
                                    <div class="center">
                                        <button class="btn btn-primary" (click)="likeOrDislikeAudioFile()">
                                            <div *ngIf="liked">
                                                <fa-icon [icon]="'heart-broken'"></fa-icon>
                                                <span class="hidden-sm-down">{{likeBtnText}}</span>
                                            </div>
                                            <div *ngIf="!liked">
                                                <fa-icon [icon]="'star'"></fa-icon>
                                                <span class="hidden-sm-down">{{likeBtnText}}</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="center">
                                        <button type="submit"
                                                [routerLink]="['/post', post.id, 'view' ]"
                                                class="btn btn-info">
                                            <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span>View Post</span>
                                        </button>
                                        <div *ngIf="currentUser">
                                            <button type="button"
                                                    [routerLink]="['/post', post.id, 'edit']"
                                                    class="btn btn-primary"
                                                    [hidden]="currentUser.login !== post.user.login">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span
                                                jhiTranslate="entity.action.edit"> Edit</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="post && currentUser">
                                    <!--<div class="col-md-8 center">-->
                                        <jhi-post-comments [post]="post"
                                                           [currentUser]="currentUser"
                                        ></jhi-post-comments>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="post">

            <div class="container posts-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card post-window mb-3">
                            <div class="card-body">
                                <div class="media mb-3">
                                    <img [src]="avatar" *ngIf="!isImageLoading && hasImage"
                                         class="d-block ui-w-60 rounded-circle" alt="">
                                    <div class="media-body ml-3">
                                        <a [routerLink]="['/', post.user.login, 'view']">{{post.user?.login}}</a>
                                        <div class="text-muted small">{{post.date | date:'medium'}}</div>
                                    </div>
                                    <div class="media-body ml-3 mt-3">
                                        <div *ngIf="audioFile && usersComments">
                                            <h6 class="d-inline-block text-muted">{{audioFile.users.length}}
                                                Likes<span>&nbsp;&nbsp;&nbsp;</span></h6>
                                            <h6 class="d-inline-block text-muted">{{usersComments.length}}
                                                Comments</h6>
                                        </div>
                                    </div>

                                </div>

                                <p class="card-text">
                                    {{post.postContent}}
                                </p>
                                <div class="row">
                                    <div *ngIf="postImage" class="col-md-6">
                                        <img [src]="postImage" class="ui-rect ui-bg-cover"
                                             alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="audioFile" class="container">
                                            <div class="row slidecontainer">
                                                <div class="col-md-12" style="text-align: center">
                                                    <span>{{audioFile.title}}</span>
                                                </div>
                                                <input #slide type="range" class="slider" min="0" [max]="state?.duration" step="0.1"
                                                       [value]="state.currentTime ? state.currentTime : 0" (change)="onSliderChangeEnd(slide)">
                                                <div class="col-md-6" style="text-align: left">
                                                    {{ state?.readableCurrentTime }}
                                                </div>
                                                <div class="col-md-6" style="text-align: right">
                                                    {{ state?.readableDuration }}
                                                </div>
                                            </div>
                                            <div class="row center">
                                                <button type="button" class="btn btn-info center" (click)="play()" [disabled]="state?.error"
                                                        *ngIf="!state?.playing">
                                                    <fa-icon [icon]="'play'"></fa-icon>
                                                </button>
                                                <button type="button" class="btn btn-info center" (click)="pause()" *ngIf="state?.playing">
                                                    <fa-icon [icon]="'pause'"></fa-icon>
                                                </button>
                                            </div>
                                        </div>
                                        <div>
                                            <span>Tags: </span><br>
                                            <span *ngFor="let tag of post.tags; let last = last">
                                    <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="center">
                                        <button class="btn btn-primary" (click)="toggleComment()">
                                            <fa-icon [icon]="'pen'"></fa-icon>
                                            <span class="hidden-sm-down">Write a comment</span>
                                        </button>
                                    </div>
                                    <div class="center">
                                        <button class="btn btn-primary" (click)="likeOrDislikeAudioFile()">
                                            <div *ngIf="liked">
                                                <fa-icon [icon]="'heart-broken'"></fa-icon>
                                                <span class="hidden-sm-down">{{likeBtnText}}</span>
                                            </div>
                                            <div *ngIf="!liked">
                                                <fa-icon [icon]="'star'"></fa-icon>
                                                <span class="hidden-sm-down">{{likeBtnText}}</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="center">
                                        <button type="submit"
                                                [routerLink]="['/post', post.id, 'view' ]"
                                                class="btn btn-info">
                                            <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span>View Post</span>
                                        </button>
                                        <div *ngIf="currentUser">
                                            <button type="button"
                                                    [routerLink]="['/post', post.id, 'edit']"
                                                    class="btn btn-primary"
                                                    [hidden]="currentUser.login !== post.user.login">
                                                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span
                                                jhiTranslate="entity.action.edit"> Edit</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="showCommentWindow">
                                    <div class="card comment-card my-4">
                                        <h6 class="card-header">Leave a Comment:</h6>
                                        <div class="card-body">
                                            <form>
                                                <div class="form-group">
                                                    <textarea [(ngModel)]="commentContent" name="txtarea"
                                                              class="form-control" rows="3"></textarea>
                                                </div>
                                                <button class="btn btn-primary" (click)="addComment()">
                                                    <fa-icon [icon]="'plus'"></fa-icon>
                                                    <span class="hidden-sm-down">Submit comment</span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="table-responsive" *ngIf="commentsAvatars?.length > 0">
                                    <div *ngFor="let commentAvatar of commentsAvatars">
                                        <div class="row mb-2">
                                            <div class="col-md-3">
                                                <img [src]="commentAvatar.avatar"
                                                     class="d-block ui-w-60 rounded-circle" alt="">
                                                <a [routerLink]="['/', commentAvatar.comment.user.login, 'view']">{{commentAvatar.comment.user.login}}</a>
                                                <div class="text-muted small">{{commentAvatar.comment.date | date:'medium'}}</div>
                                            </div>
                                            <div class="col-md-6">
                                                <span>{{commentAvatar.comment.textContent}}</span>
                                            </div>
                                            <div *ngIf="currentUser" class="col-md-3">
                                                <div [hidden]="currentUser.login !== commentAvatar.comment.user.login">
                                                    <button type="submit"
                                                            [routerLink]="['/comment', commentAvatar.comment.id, 'edit']"
                                                            class="btn btn-primary btn-sm">
                                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                                        <span class="d-none d-md-inline"
                                                              jhiTranslate="entity.action.edit">Edit</span>
                                                    </button>
                                                    <button type="submit" (click)="deleteComment(commentAvatar.comment)"
                                                            class="btn btn-danger btn-sm">
                                                        <fa-icon [icon]="'times'"></fa-icon>
                                                        <span class="d-none d-md-inline"
                                                              jhiTranslate="entity.action.delete">Delete</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

