<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="audioFile">
            <h2 class="text-center"><span jhiTranslate="soundgramApp.audioFile.detail.title">Audio File</span> {{audioFile.title.split('.').slice(0, -1).join('.')}}</h2>
            <hr>
            <!--<jhi-alert-error></jhi-alert-error>-->
            <dl class="row-md jh-entity-details text-center">
                <dt><span jhiTranslate="soundgramApp.audioFile.title">Title</span></dt>
                <dd>
                    <span>{{audioFile.title.split('.').slice(0, -1).join('.')}}</span>
                </dd>
                <dt><span jhiTranslate="soundgramApp.audioFile.owner">File owner</span></dt>
                <dd>
                    <span><a [routerLink]="['/', audioFile.post.user.login, 'view']">{{audioFile.post.user.login}}</a></span>
                </dd>

                <dt><span jhiTranslate="soundgramApp.audioFile.user">User</span><span>{{audioFile.users.length}}</span></dt>
                <dd>
                    <span *ngFor="let user of audioFile.users; let last = last">
                        <a [routerLink]="['/', user.login, 'view']">{{user.login}}{{last ? '' : ', '}}</a>
                    </span>
                </dd>
            </dl>

            <div class="row">
                <div class="center">
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-info">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span
                        jhiTranslate="entity.action.back"> Back</span>
                    </button>

                    <button type="submit"
                            [routerLink]="['/post', audioFile.post.id, 'view' ]"
                            class="btn btn-primary">
                        <fa-icon [icon]="'eye'"></fa-icon>&nbsp;<span
                        jhiTranslate="soundgramApp.post.viewPost">View Post</span>
                    </button>

                    <jhi-like-audio [audioFile]="audioFile"
                                    (likeClicked)='onLikeClicked($event)'>
                    </jhi-like-audio>
                </div>
            </div>
            <br>

            <div class="row">
                <jhi-post-player class="center" [audioFile]="audioFile">
                </jhi-post-player>
            </div>

        </div>
    </div>
</div>
