<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tag">
            <h2><span jhiTranslate="soundgramApp.tag.detail.title">Tag: </span> {{tag.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">

                <dt><span jhiTranslate="soundgramApp.tag.user">Users: </span></dt>
                <dd>
                    <span *ngFor="let user of tag.users; let last = last">
                        <a [routerLink]="['/', user.login, 'view']">{{user.login}}{{last ? '' : ', '}}</a>
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    (click)="followThisTag()"
                    class="btn btn-primary">
                <fa-icon [icon]="'forward'"></fa-icon>&nbsp;<span jhiTranslate="soundgramApp.tag.home.follow">Add tag to watchlist</span>
            </button>

            <h2 class="text-center padding-top"><span jhiTranslate="soundgramApp.post.home.post-tag">Posts that contain the tag</span> {{tag.name}}</h2>
            <div class="alert alert-warning" *ngIf="posts?.length === 0">
                <span jhiTranslate="soundgramApp.post.home.notFound">No posts found</span>
            </div>

        </div>
    </div>
</div>
<div *ngIf="posts.length > 0">
    <div>
        <jhi-post-object *ngFor="let post of posts"
                         [post]="post"
        >
        </jhi-post-object>
    </div>
</div>
