<div [ngSwitch]="allUsersDisplayed">
    <div class="row">
        <div class="col-md-8 center">
            <h2 *ngSwitchCase="true">
                <span id="users-page-heading" jhiTranslate="users.allUsers">All Users</span>
                <button class="btn btn-primary float-right" (click)="loadFollowed()">
                    <fa-icon [icon]="'users'"></fa-icon>
                    <span jhiTranslate="users.showFollowedUsers">Show my followed users</span>
                </button>
            </h2>
            <h2 *ngSwitchCase="false">
                <span id="followed-users-page-heading" jhiTranslate="users.followedUsers">My followed users</span>
                <button class="btn btn-primary float-right" (click)="loadAll()">
                    <fa-icon [icon]="'users'"></fa-icon>
                    <span jhiTranslate="users.showAllUsers">Show all users</span>
                </button>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 center">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'users.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
<!--    <jhi-alert></jhi-alert>-->
    <div class="users-section">
        <div class="table-responsive table-window" *ngIf="usersAvatars">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><span></span>
                        <fa-icon [icon]="'user-circle'"></fa-icon>
                    </th>
                    <th scope="col"><span jhiTranslate="userManagement.login">Login</span>
                        <fa-icon [icon]="'user'"></fa-icon>
                    </th>
                    <th class="narrow-hide" scope="col"><span jhiTranslate="users.firstName">First Name</span></th>
                    <th class="narrow-hide" scope="col"><span jhiTranslate="users.lastName">Last Name</span></th>
                    <th scope="col"><span jhiTranslate="userManagement.email">Email</span>
                        <fa-icon [icon]="'at'"></fa-icon>
                    </th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of usersAvatars">
                    <td><div *ngIf="user.avatar"><a [routerLink]="['/', user.user.login, 'view']">
                        <img [src]="user.avatar" class="d-block ui-w-60 rounded-circle" alt=""></a></div></td>
                    <td><a [routerLink]="['/', user.user.login, 'view']">{{user.user.login}}</a></td>
                    <td class="narrow-hide"><div *ngIf="user.user.firstName">{{user.user.firstName}}</div></td>
                    <td class="narrow-hide"><div *ngIf="user.user.lastName">{{user.user.lastName}}</div></td>
                    <td><a href="mailto:{{user.user.email}}">{{user.user.email}}</a></td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/', user.user.login, 'view']"
                                    class="btn btn-secondary btn-sm">
                                <fa-icon [icon]="'eye'"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <div *ngSwitchCase="true">
                                <button type="button" (click)="followUser(user.user.id)"
                                        class="btn btn-primary btn-sm" [disabled]="currentAccount.login === user.user.login || isFollowedUser(user.user)">
                                    <fa-icon [icon]="'user-plus'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.follow">Follow</span>
                                </button>
                            </div>
                            <div *ngSwitchCase="false">
                                <button type="button" (click)="unfollowUser(user.user.id)"
                                        class="btn btn-primary btn-sm" [disabled]="currentAccount.login === user.user.login">
                                    <fa-icon [icon]="'user-minus'"></fa-icon>
                                    <span class="d-none d-md-inline"
                                          jhiTranslate="entity.action.unfollow">Unfollow</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <jhi-scroll-top></jhi-scroll-top>
</div>
