/* users.component.scss */

.users-section {
  margin-top: 15px;
}

.center {
  margin: auto;
}
.table-window {
  border-radius: 10px;
  border: 2px solid #522b72;
  background-color: #ffffff;
  min-width: 350px;
  max-width: 1200px;
  // min-width: 200px;
  color: #000000;
  margin: auto;
}

.ui-w-60 {
  width: 60px !important;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .narrow-hide {
    display: none;
  }
}
