<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-post-heading" jhiTranslate="soundgramApp.post.home.createOrEditLabel">Create or edit a Post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="soundgramApp.post.postContent" for="field_postContent">Post Content</label>
                    <input type="text" class="form-control" name="postContent" id="field_postContent"
                           formControlName="postContent"/>
                </div>

<!--                date przeba dodać aktualną automatycznie-->
<!--                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="soundgramApp.post.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>-->

                <div class="form-group">
                    <label jhiTranslate="soundgramApp.post.tag" for="field_tags">Tag</label>
                    <button id="jh-create-tag" class="btn btn-primary jh-create-entity create-audio-file" [routerLink]="['/tag/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span class="hidden-sm-down" >
                        Add Tag
                    </span>
                    </button>
                    <select class="form-control" id="field_tags" multiple name="tags" formControlName="tags">
                        <option [ngValue]="getSelected(editForm.get('tags').value, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagByName">{{tagOption.name}}</option>
                    </select>
                </div>

<!--                <button type="file" id="jh-create-audio" class="btn btn-primary jh-create-entity create-audio-file" (change)="selectFile($event)">
                    <fa-icon [icon]="'plus'"></fa-icon>
                    <span class="hidden-sm-down" >
                        Add audio file
                    </span>
                </button>-->

                <div style="text-align:center">
                    <label>
                        <span>Dodaj plik audio: </span>
                        <input type="file"(change)="selectFile($event)">
                    </label>
                    <!--<button [disabled]="!selectedFiles" (click)="upload()">Upload</button>-->
                </div>
                <br>
                <div style="text-align:center">
                    <label>
                        <span>Dodaj obraz: </span>
                        <input type="file" (change)="selectFile($event)">
                    </label>
                    <!--<button [disabled]="!selectedFiles" (click)="upload()">Upload</button>-->
                </div>

                <p></p>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
